@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

* {
  font-family: "Fira Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 250px;
  padding: 15px;
  background-color: #1a1a1a;
  color: #fff;
}

h3 {
  position: absolute;
  margin-bottom: 10px;
  font-size: 1.2em;
  top: 25px;
}

button {
  position: absolute;
  bottom: 25px;
  background: linear-gradient(45deg, cyan, #00bcd4);
  color: black;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}
